# Ingest Data from MongoDB

In [10]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb+srv://michaeljohnbull-6311203:7833@6311203project3.tpzuq2j.mongodb.net/")  

# Access the sample_supplies collection
db = client["sample_supplies"]
collection = db["sales"]

# Prepare Data for Analysis

In [11]:
from decimal import Decimal
import numpy as np
import pandas as pd

# Convert the MongoDB data to a Pandas DataFrame
df = pd.DataFrame(list(collection.find()))

# Access 'gender' information from the 'customer' field
df['gender'] = df['customer'].apply(lambda x: x.get('gender', 'Unknown'))
# Access 'name' information from the 'items' list
df['product_name'] = df['items'].apply(lambda items: [item['name'] for item in items])
# Flatten the 'product_name' list within the 'items' field
df = df.explode('product_name')
# Convert the 'saleDate' field to a datetime object
df['date'] = pd.to_datetime(df['saleDate'])
# Extract month and year from the date
df['year_month'] = df['date'].dt.to_period('M')

# Define a function to calculate total sales for each product
def calculate_total_sales(items):
    total_sales = 0
    for item in items:
        quantity = item['quantity']
        price = float(Decimal(str(item['price'])).scaleb(-2))  # Convert to float
        total_sales += quantity * price
    return total_sales

# Check the column names in the DataFrame

In [12]:
print(df.columns)

Index(['_id', 'saleDate', 'items', 'storeLocation', 'customer', 'couponUsed',
       'purchaseMethod', 'gender', 'product_name', 'date', 'year_month'],
      dtype='object')

# Query 1: Show top 10 products (name) sales (quantity x price)

In [13]:
# Calculate sales for each product
df['total_sales'] = df['items'].apply(calculate_total_sales)

# Get the top 10 products by sales
top_10_products = df.groupby('product_name')['total_sales'].sum().nlargest(10)
print (top_10_products)

product_name
notepad          163823.8340
binder           112674.0057
pens             111335.2979
envelopes        107830.3874
laptop            84784.7860
backpack          57686.6548
printer paper     54919.1356
Name: total_sales, dtype: float64

# Query 2: Show top 3 products (name) sales by store (location)

In [14]:
# Get the top 3 products by sales for each store location
top_3_products_by_store = df.groupby(['storeLocation', 'product_name'])['total_sales'].sum().groupby('storeLocation', group_keys=False).nlargest(3)
print(top_3_products_by_store)

storeLocation  product_name
Austin         notepad         25667.4690
               binder          16587.9248
               pens            16140.5962
Denver         notepad         48214.2001
               binder          34540.4127
               pens            33352.8386
London         notepad         26049.2901
               envelopes       17058.9524
               pens            16855.4704
New York       notepad         16444.6269
               pens            12086.5915
               binder          11410.0328
San Diego      notepad         10720.9944
               binder           7629.6290
               pens             7170.5976
Seattle        notepad         36727.2535
               pens            25729.2036
               binder          25716.2316
Name: total_sales, dtype: float64

# Query 3: Show rankings of each store (location)

In [22]:
# Rank stores by total sales
store_rankings = df.groupby('storeLocation')['total_sales'].sum().rank(ascending=False)
sorted_store_rankings = store_rankings.sort_values(ascending=True)
print(sorted_store_rankings)

storeLocation
Denver       1.0
Seattle      2.0
London       3.0
Austin       4.0
New York     5.0
San Diego    6.0
Name: total_sales, dtype: float64

# Query 4: Show purchased method by gender table

In [16]:
# Create a pivot table to count purchased method by gender
purchased_method_table = pd.pivot_table(df, values='items', index='gender', columns='purchaseMethod', aggfunc='count')
print(purchased_method_table.to_string())

purchaseMethod  In store  Online  Phone
gender
F                   8062    4270   1499
M                   7571    4314   1722

# Query 5: Show monthly total sales

In [17]:
# Group by year and month, and sum the sales
monthly_total_sales = df.groupby('year_month')['total_sales'].sum()
print(monthly_total_sales)

year_month
2013-01    13917.8019
2013-02    10617.1376
2013-03     8531.4827
2013-04    10730.7414
2013-05    12029.3105
2013-06     9923.2930
2013-07    11627.3863
2013-08     9343.0498
2013-09     9204.5894
2013-10    12407.1142
2013-11    10430.8003
2013-12    12940.3522
2014-01     9660.3223
2014-02    10663.8492
2014-03    14083.5198
2014-04     9484.8814
2014-05    12360.8453
2014-06    10191.1103
2014-07    13252.3786
2014-08    11533.3573
2014-09    11396.4241
2014-10    11504.4883
2014-11    13525.0650
2014-12    10079.5861
2015-01    15166.4134
2015-02    12938.5726
2015-03    12296.5606
2015-04     8007.0661
2015-05    11711.9316
2015-06    10307.2885
2015-07     9701.9169
2015-08    10846.5928
2015-09     9058.4070
2015-10    12547.3484
2015-11    11072.2980
2015-12    11877.3965
2016-01    11494.6766
2016-02     7877.4762
2016-03    12568.5262
2016-04     9037.6987
2016-05     9829.2626
2016-06     9001.8695
2016-07    12131.6163
2016-08    12533.8688
2016-09     9444.0573
2016-10    10753.9003
2016-11    12811.2943
2016-12    15941.4803
2017-01    13763.8778
2017-02    10011.3952
2017-03    12328.9306
2017-04    12972.0343
2017-05    14864.8778
2017-06    13603.2293
2017-07    10730.4182
2017-08    12530.8144
2017-09    13529.9117
2017-10    13604.0408
2017-11    14359.2865
2017-12    12358.8783
Freq: M, Name: total_sales, dtype: float64

# Close MongoDB connection

In [18]:
client.close()